body {
    margin: 0;
    padding: 0;
}
.container_crud {
    max-width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.cadastroTipoDeServiço {
    text-align: center;
    padding: 1em;
    font-size: 25px;
    font-weight:400;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}


.btn_cadastro{
    padding: 10px;
    background-color: rgba(107, 168, 229, 0.8);
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block; 
    text-align: center; 
    border: none; 
}

.btn_action_erase, .btn_action_pencil {
    margin-top: 10px;
    padding: 10px;
    background-color:rgba(107, 168, 229, 0.8);
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block; 
    text-align: center; 
    border: none; 
}
.btn:hover {
    background-color: #0056b3;
}
.filter-form {
    margin-bottom: 2em;
}
.filter-form input {
    padding: 8px;
    width: 200px;
    border: 2px solid rgba(107, 168, 229, 0.8);
    border-radius: 10px;
    margin: 0.8em;
}
.add-btn {
    float: right;
}



