hr{
    margin: 0;
}

.rodape{
    background-color: white;
    padding: 1em;
}

.lista_rodape {
    display: none;
}

main{
    flex-grow: 1;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}


@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-around;
    }

    .lista_rodape {
        display: block;
    }

    .lista_rodape_item {
        display: flex;
        align-items: center;
        margin: 0.6em 0;
    }

    .lista_rodape_link {
        color: var(--cinza);
        text-decoration: none;
        margin-left: 0.6em;
    }

    .lista_rodape_titulo {
        font-size: 14px;
        color: var(--cinza-claro);
    }

    .rodape_titulo {
        font-size: 24px;
    }
    main{
        flex-grow: 1;
    }
    
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
}